*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: 'Poppins', sans-serif;
}
.logo{
  color: rgb(226,226,226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.logo a{
  text-decoration: none;
  color: rgb(226, 226, 226);
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: rgb(226,226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(226,226,226);
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width:1280px){
  .nav-links{
    width: 50%;
  }
}
@media screen and (max-width:1024px){
  .nav-links{
    width: 60%;
  }
}
@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: display;
    flex-direction: column;
    align-items: center;
    width: 0%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}
.nav-active{
  transform: translateX(0%);
  width: 50%;
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px); 
}
#volume-button{
  position: relative;
  width: 40px;
  height: 40px;
}
#volume-button::before {
  content: "";
  background-image: url("volumen_button.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  display: inline-block;
  width: 30px; /* or any width you want*/
  height: 30px; /* or any height you want */

}
.volume-slider-container {
  /* rest of your styles */
  display: none;
  width: 100%;
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.volume-button:hover + .volume-slider-container,
.volume-slider-container:hover {
  height: 80px; /* you can adjust the height to your liking */
  display: block;
}
.volume-slider{
  width: 100%;
}
.background_video{
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  top: 50px;
}